/**
 * Style variables
 */

@import 'styles/variables.scss';

/**
 * Reset and reboot styles
 */

@import './styles/reset.scss';
@import './styles/reboot.scss';

/**
 * Grid framework using class-based styles
 */

@import './styles/grid.scss';
@import './styles/flex.scss';

/**
 * Component styles
 */

.jsx-App {
  .Header {
    background-color: $color-black;
    color: $color-cream-can;
    text-align: center;
    font-size: 35px;
    font-weight: 900;
    padding: 10px;
    margin: 15px 0px;
    border-radius: 5px;
  }
}
